<link rel="stylesheet" href="styles/champion.css">

<div class=champbody>
<!-- banner -->
<div ng-style="myStyle">
  <img class="headpic" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{{champInfo.key}}.png">
  <div class="name"> {{champInfo.name}}</div>
  <div class="title"> {{champInfo.title}}</div>

  <div class="skinName"> {{skinName}} </div>
  <div class="triangle-bottomleft"></div>
  <div class="triangle2"></div>
</div>
<!-- end of banner-->
<!-- infobox -->
<div class="infobox">
  <div class="info">
    <div class="attack">Attack      {{champInfo.info.attack}}</div>
    <div class="magic">Magic       {{champInfo.info.magic}}</div>
    <div class="defense">Defense     {{champInfo.info.defense}}</div>
    <div class="difficulty">Difficulty  {{champInfo.info.difficulty}}</div>
  </div>
  <div class="infobars">
    <div class="attackbar" ng-style='attackbar'></div>
    <div class="magicbar" ng-style='magicbar'></div>
    <div class="defensebar" ng-style='defensebar'></div>
    <div class="difficultybar" ng-style='difficultybar'></div>
  </div>
</div>
<!-- end of infobox -->
<div class="lorebox">
  <div class="lore">Lore</div>
  <p ng-bind-html="lore"></p>
</div>

<div class="spells">
  <div class="spell1">
      <div class="spell-img" ng-style="spellimg1"></div>
      <div class="spell-name" ng-style="spellname1"></div>
      <div class="spell-cd" ng-style="spellcd1"></div>
      <div class="spell-cost" ng-style="spellcost1"></div>
    </div>
    <div class="spell2">
        <div class="spell-img" ng-style="spellimg2"></div>
        <div class="spell-name" ng-style="spellname2"></div>
        <div class="spell-cd" ng-style="spellcd2"></div>
        <div class="spell-cost" ng-style="spellcost2"></div>
      </div>
      <div class="spell3">
          <div class="spell-img" ng-style="spellimg3"></div>
          <div class="spell-name" ng-style="spellname3"></div>
          <div class="spell-cd" ng-style="spellcd3"></div>
          <div class="spell-cost" ng-style="spellcost3"></div>
        </div>
        <div class="spell4">
            <div class="spell-img" ng-style="spellimg4"></div>
            <div class="spell-name" ng-style="spellname4"></div>
            <div class="spell-cd" ng-style="spellcd4"></div>
            <div class="spell-cost" ng-style="spellcost4"></div>
          </div>
</div> <!-- end of spells -->



</div> <!-- end of body -->
