<link rel="stylesheet" href="styles/champion.css">

<div class=champbody>
<!-- banner -->
<div ng-style="myStyle">
  <img class="headpic" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{{champInfo.key}}.png">
  <div class="name"> {{champInfo.name}}</div>
  <div class="title"> {{champInfo.title}}</div>

  <div class="skinName"> {{skinName}} </div>
  <div class="triangle-bottomleft"></div>
  <div class="triangle2"></div>
</div>
<!-- end of banner-->
<!-- infobox -->
<div class="infotype">
<div class="infobox">
  <div class="info">
    <div class="attack">Attack      {{champInfo.info.attack}}</div>
    <div class="magic">Magic       {{champInfo.info.magic}}</div>
    <div class="defense">Defense     {{champInfo.info.defense}}</div>
    <div class="difficulty">Difficulty  {{champInfo.info.difficulty}}</div>
  </div>
  <div class="infobars">
    <div class="attackbar" ng-style='attackbar'></div>
    <div class="magicbar" ng-style='magicbar'></div>
    <div class="defensebar" ng-style='defensebar'></div>
    <div class="difficultybar" ng-style='difficultybar'></div>
  </div>
</div>
<!-- end of infobox -->
<!-- type -->
<div class="typebox">
  <div ng-repeat="type in tags" class="type1">
    <div>
      <img class="typeimg" src="img/{{type}}.png">
    </div>
    <div class="typename">{{type}}</div>
  </div>
</div>
</div>
<!-- end of type-->
<!-- lore -->
<div class="lorebox">
  <div class="lore">Lore</div>
  <p ng-bind-html="lore"></p>
</div>
<!-- end of lore -->
<!-- spells -->
<div class="spells">
  <div class="spell">
      <div class="spell-img" ng-style="spellimg1"></div>
      <div class="spell-name" ng-style="spellname1">{{champInfo.spells[0].name}}</div>
      <div class="spell-cd" ng-style="spellcd1">{{champInfo.spells[0].cooldownBurn}} sec</div>
      <div class="spell-cost" ng-style="spellcost1">{{champInfo.spells[0].costBurn}}  {{champInfo.spells[0].costType}}</div>
      <div class="spell-desc">{{champInfo.spells[0].sanitizedDescription}}</div>
    </div>
    <div class="spell">
        <div class="spell-img" ng-style="spellimg2"></div>
        <div class="spell-name" ng-style="spellname2">{{champInfo.spells[1].name}}</div>
        <div class="spell-cd" ng-style="spellcd2">{{champInfo.spells[1].cooldownBurn}} sec</div>
        <div class="spell-cost" ng-style="spellcost2">{{champInfo.spells[1].costBurn}}  {{champInfo.spells[1].costType}}</div>
        <div class="spell-desc">{{champInfo.spells[1].sanitizedDescription}}</div>
      </div>
      <div class="spell">
          <div class="spell-img" ng-style="spellimg3"></div>
          <div class="spell-name" ng-style="spellname3">{{champInfo.spells[2].name}}</div>
          <div class="spell-cd" ng-style="spellcd3">{{champInfo.spells[2].cooldownBurn}} sec</div>
          <div class="spell-cost" ng-style="spellcost3">{{champInfo.spells[2].costBurn}}  {{champInfo.spells[2].costType}}</div>
          <div class="spell-desc">{{champInfo.spells[2].sanitizedDescription}}</div>
        </div>
        <div class="spell">
            <div class="spell-img" ng-style="spellimg4"></div>
            <div class="spell-name" ng-style="spellname4">{{champInfo.spells[3].name}}</div>
            <div class="spell-cd" ng-style="spellcd4">{{champInfo.spells[3].cooldownBurn}} sec</div>
            <div class="spell-cost" ng-style="spellcost4">{{champInfo.spells[3].costBurn}}  {{champInfo.spells[3].costType}}</div>
            <div class="spell-desc">{{champInfo.spells[3].sanitizedDescription}}</div>
          </div>
</div>
<!-- end of spells -->



</div> <!-- end of body -->
