<link rel="stylesheet" href="styles/champion.css">

<div class=champbody>

<div ng-style="myStyle">
  <img class="headpic" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{{champInfo.key}}.png">
  <div class="name"> {{champInfo.name}}</div>
  <div class="title"> {{champInfo.title}}</div>

  <div class="skinName"> {{skinName}} </div>

</div>

<div class="infobox">
  <div class="info">
    <div class="attack">Attack      {{champInfo.info.attack}}</div>
    <div class="magic">Magic       {{champInfo.info.magic}}</div>
    <div class="defense">Defense     {{champInfo.info.defense}}</div>
    <div class="difficulty">Difficulty  {{champInfo.info.difficulty}}</div>
  </div>
  <div class="infobars">
    <div class="attackbar" ng-style='attackbar'></div>
    <div class="magicbar" ng-style='magicbar'></div>
    <div class="defensebar" ng-style='defensebar'></div>
    <div class="difficultybar" ng-style='difficultybar'></div>
  </div>
</div>
<div>
  hi
</div>

</div>
