.champbody {
min-height: 200px;
background-color: #5d5d5d;
color: #F0F0F0;
padding-left: 10%;
padding-bottom: 20px;
}

.headpic {
  border-radius: 25px;
  border: 1px solid gold;
}
.skinName {
  color: gold;
  border-top: 3px solid gold;
  position: absolute;
  bottom: 0px;
  padding: 20px;
  width: 260px;
  background-color: #323232;
  text-align: center;
}
.triangle-bottomleft {
	width: 0;
	height: 0;
	border-bottom: 61px solid gold;
	border-right: 61px solid transparent;
  position: absolute;
  bottom: 0px;
  left: 300px;
}
.triangle2 {
  width: 0;
	height: 0;
	border-bottom: 58px solid #323232;
	border-right: 58px solid transparent;
  position: absolute;
  bottom: 0px;
  left: 300px;
}


/*info box*/
.infobox {
  margin-top: 5px;
  border: 3px solid gold;
  border-radius: 5px;
  display: inline-block;

}
    .info {
      padding:10px;
      background-color: #323232;
      width: 100px;
      height: 100px;
      float: left;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

      .attack {
        color: red;
      }
      .magic {
        color: purple;
      }
      .defense {
        color: yellow;
      }
      .difficulty {
        color: orange;
      }

    .infobars {

      background-color: #323232;
      width: 200px;
      display: inline-block;
      height: 120px;
      border-right: 3px solid gold;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .lorebox {
      max-width: 800px;
      border: 3px solid gold;
      border-radius: 5px;
      background-color: #323232;
    }
.lore {
  font-size: 40px;
}

.spells {
  background-color: #323232;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 800px;
  border-radius: 5px;
  border: 3px solid gold;
}

.spell1 {
  height: 100px;
  padding: 10px;
}
.spell2 {
  height: 100px;
  padding: 10px;
}
.spell3 {
  height: 100px;
  padding: 10px;
}
.spell4 {
  height: 100px;
  padding: 10px;
}
